@import '~Styles/theme';

.modal-container {
  .information {
    text-align: center;
    
    .flex-button {
      display: flex;
      justify-content: space-evenly;
      margin: 16px 0;
    }
  }
  .doses-content {
    position: relative;

    .icon-close {
      position: absolute;
      color: #8e8e93;
      cursor: pointer;
      top: 43px;
      right: 26px;
      z-index: 1;
      font-size: 18px;
      cursor: pointer;

      &:hover {
        color: $error-color;
      }
    }

    .icon-plus-circle {
      display: flex;
      align-items: center;
      font-size: 30px;
      position: absolute;
      right: 0px;
      top: 37px;
      cursor: pointer;
      color: #74b8d0;
    }

    .main-input {
      width: 85%;
    }
  }
  .info {
    margin-bottom: 24px;
  }   
}