@import '~Styles/theme';

.home-container {
  position: relative;
  height: 100vh;

  .cookie-banner {
    position: fixed;
    display: flex;
    bottom: 0;
    padding: 16px;
    background-color: $primary-color-dark;
    color: white;
    width: 100%;

    .button--secondary {
      margin-right: 32px;
    }
    
    i {
      margin-right: 13px;
      font-size: 20px;
      display: flex;
      align-items: center;
    }

    p {
      display: flex;
      align-items: center;
      flex: 1;

      span {
        text-decoration: underline;
        cursor: pointer;
        margin-left: 4px;
      }
    }
  }

  img.curve {
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
  }

  img.mini-curve {
    position: fixed;
    bottom: -52px;
    left: -52px;
    z-index: -1;
   
    @media (max-width: $max-width-laptop) {
      bottom: -2px;
      left: -43px;
      height: 290px;
    }
  }

  img.undraw-vector {
    position: absolute;
    right: 45px;
    height: 400px;
    bottom: 120px;

    @media (max-width: $max-width-laptop) {
      height: 290px;
    }
  }

  .call-to-action {
    width: 482px;
    position: absolute;
    transform: translate(51%, 32%);

    @media (max-width: $max-width-laptop) {
      transform: translate(16%, 32%);
    }

    .flex-div {
      display: flex;
      align-items: center;
  
      h1 {
        margin-bottom: 16px;
        color: #333;
        font-size: 42px;
        font-weight: 400;
        letter-spacing: 4px;
        margin-right: 16px;
      }

      img {
        display: flex;
        margin-right: 16px;
        margin-bottom: 8px;
        cursor: pointer;
      }
    }

    p {
      color: $gray-color;
      margin-bottom: 24px;
      line-height: 2;
      font-size: 16px;
    }

    button {
      box-shadow: 10px 10px 26px -16px rgba(0,0,0,0.75);
    }
  }

  .home-navbar {
    display: flex;
    padding: 24px 72px;
    height: 108px;
    align-items: center;
    justify-content: space-between;
    color: #333;

    button {
      box-shadow: 10px 10px 26px -16px rgba(0,0,0,0.75);
    }

    img.logo {
      margin-left: 172px;

      @media (max-width: $max-width-laptop) {
        margin: 0;
      }
    }

    .home-options {
      display: flex;
      justify-content: space-evenly;
      width: 30%;

      .select {
        margin-top: -4px;
        width: 120px;
      }

      p {
        font-size: 24px;
        cursor: pointer;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}