.sign-up-route {
  form {
    margin-top: 32px;

    .sign-button {
      display: flex;
      margin: 0 16px;

      .button--decline {
        margin-right: 16px;
      }

      .button--primary {
        margin-left: auto;
      }
    }
  }
}