@import '~Styles/theme';

.loading-spin {
  position: absolute;
  background-color: rgba(#fff, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  box-sizing: border-box;

  .lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;

    &::after {
      content: "";
      display: block;
      width: 46px;
      height: 46px;
      margin: 1px;
      border-radius: 50%;
      border: 5px solid $primary-color;
      border-color: $primary-color transparent $primary-color transparent;
      animation: lds-dual-ring 1.2s linear infinite;
      will-change: transform;
    }
  }
}
