@import '~Styles/theme';

.login-template {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  img.curve {
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
  }

  img.mini-curve {
    position: fixed;
    bottom: -52px;
    left: -52px;
  }

  img.vaccinator-logo {
    position: absolute;
    width: 120px;
    transform: translateY(48%);
    top: 0;
  }

  form {
    z-index: 1;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
    padding: 30px 72px;
    box-shadow: 0 10px 15px $mid-gray-color;
    background-color: #f8f8f8;

    h2 {
      font-family: $font-base;
      text-align: center;
      font-size: $title-font-size;
      color: $black-color;
      margin-bottom: 32px;
    }

    h3 {
      font-family: $font-base;
      text-align: center;
      font-size: $subheader-font-size;
      color: $gray-color;
      font-weight: 500;
      margin-bottom: 48px;
    }

    .button {
      margin-top: 16px;
      align-self: center;
    }
  }

  .extra-options {
    margin: 16px 0;
    display: flex;
  }

  .image-footer {
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    object-fit: cover;
  }

  a {
    font-size: $body-font-size;
    color: $primary-color;
    margin-left: auto;

    &:hover {
      color: $primary-color-dark;
    }
  }
}
