@import '~Styles/theme';

.establishments-route {
  h1.title {
    padding: 0 24px 18px;
    border-bottom: 1px solid $mid-gray-color;
    margin: 0 32px 24px;
    font-size: 36px;
    color: #333;
  }

  p.description {
    margin: 38px 0 8px 57px;
    color: $gray-color;
  }

  .establishments-header {
    display: flex;
    padding: 0 56px;
    margin-bottom: 62px;

    @media (max-width: $max-width-laptop) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0 56px;
      margin: 32px 0;
    }

    p {
      margin-left: 32px;
      font-size: 14px;
      text-decoration: underline;
      cursor: pointer;
      color: $primary-color;

      &:hover {
        color: $primary-color-dark;
      }
    }

    .search-container {
      margin-right: 32px;

      .css-2b097c-container {
        min-width: 216px;

        .css-1hwfws3 {
          font-size: 12px;
        }
      }
    }

    .button-container {
      display: flex;
      align-items: center;
      margin-top: 18px;

      .button--secondary {
        margin-left: 16px;
      }
    }
  }
}