@import '~Styles/theme';

.search-bar {
  position: relative;
  min-width: 216px;

  input {
    padding: 12px;
    font-size: 12px;
    color: var(--gray-color, $gray-color);
    border: 1px solid var(--mid-gray-color, $mid-gray-color);
    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
  }

  input::placeholder {
    font-size: 12px;
  }

  .icon-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    right: 16px;
    cursor: pointer;
    display: flex;
    color: var(--black-color, $black-color);
    align-items: center;
    justify-content: center;
  }
}
