
@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInAndOut {
  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes scale-jump {
  0% {
    transform: scale(0);
  }

  95% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes scale-in-top {
  0% {
    height: auto;
    max-height: 0;
    overflow: hidden;
  }

  100% {
    overflow: none;
    max-height: 500px;
  }
}

@keyframes shadow-drop-tb {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    -webkit-box-shadow: 0 -12px 20px -12px #c7c7cc, 0 12px 20px -12px #c7c7cc;
            box-shadow: 0 -12px 20px -12px #c7c7cc, 0 12px 20px -12px #c7c7cc ;
  }
}

@keyframes loading-horizontal {
  0% {
    left: 0;
    width: 0;
  }

  50% {
    left: 0;
    width: 100%;
  }

  100% {
    left: 100%;
    width: 100%;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }

  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes jump-button {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  70% {
    opacity: 0;
    transform: scale(0);
  }

  90% {
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}