@import '~Styles/theme';

.main-input {
  display: flex;
  flex-direction: column;

  label {
    font-size: $body-font-size;
    color: $black-color;
    margin: 8px 0;
    font-weight: 500;
  }

  input {
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid $gray-color;
    padding: 12px;
    margin-bottom: 8px;
    background-color: #f8f8f8;
    color: $black-color;
  }

  &--primary {
    input {
      border-color: $primary-color;
    }
  }

  &--invalid {
    input {
      border: 1px solid var(--error-color, $error-color);
    }
  }

  .input-field__invalid-msg {
    font-size: $caption-font-size;
    color: var(--error-color, $error-color);
    margin-bottom: 8px;
  }
}
