@import '~Styles/theme';

.button {
  font-size: 14px;
  font-weight: 500;
  min-width: 110px;
  padding: 8px 20px;
  border-radius: 30px;
  text-align: center;
  line-height: 22px;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  outline: none;

  &.button--primary {
    border: none;
    color: #fff;
    background-color: $primary-color;

    &:hover {
      background-color: $primary-color-dark;
      color: #fff;
    }
  }

  &.button--secondary {
    border: none;
    color: #fff;
    background-color: $secondary-color;

    &:hover {
      background-color: $secondary-color-dark;
      color: #fff;
    }
  }

  &.button--decline {
    border: solid 1.5px $secondary-color;
    color: $secondary-color;

    &:hover {
      background-color: $secondary-color;
      color: #fff;
    }
  }

  &.button--decline-primary {
    border: solid 1.5px $primary-color;
    color: $primary-color;

    &:hover {
      background-color: $primary-color;
      color: #fff;
    }
  }

  &.button--middle {
    min-width: 130px;
  }

  &.button--big {
    min-width: 245px;
  }

  &:disabled,
  &:disabled:hover {
    background-color: var(--mid-gray-color, $mid-gray-color);
    cursor: default;
  }
}

.buttons-container {
  .button:not(:last-child) {
    margin-right: 10px;
  }
}
