@import '~Styles/theme';

.wallet-user-route {
  min-height: 100%;
  box-sizing: border-box;

  .grid-container {
    display: grid;
    margin-top: 32px;
    grid-template-columns: 0.5fr 0.5fr 1fr;

    @media (max-width: $max-width-laptop) {
      display: flex;
      margin-top: 32px;
      flex-direction: column;
      align-items: center;
    }
  }

  .title-and-language {
    padding: 0 24px 18px;
    border-bottom: 1px solid $mid-gray-color;
    margin: 0 32px 24px;
    display: flex;
    font-weight: 600;
    color: #333;

    h1.title {
      flex: 1;
    }

    img {
      display: flex;
      margin-right: 16px;
      margin-bottom: 8px;
      cursor: pointer;
    }
  }

  .wallet-header {
    display: flex;
    padding: 0 56px;
    margin-bottom: 62px;

    .search-container {
      flex: 1;
      display: flex;
    }
  }

  h2.wallet-title {
    font-weight: 600;
    padding: 0 24px 18px;
    margin: 0 32px 24px;
    font-size: 20px;
    color: $primary-color;
  }
}