@import '~Styles/theme';

.user-routes {
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  .side-menu {
    position: fixed;
    left: 0;
  }

  .user_body {
    flex: 1;
    display: flex;
    background-color: $ultra-light-gray-color;
    flex-direction: row;
  }

  .user-routes__container {
    z-index: 1;
    flex: 1;
    margin-left: 232px;
    box-sizing: border-box;
    padding: 40px 20px;
  }
}
