@import '~Styles/theme';

.user-routes {
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  .user {
    flex: 1;
    display: flex;
    flex-direction: row;
  }

  .user-routes__container {
    z-index: 1;
    flex: 1;
    background-color: var(--ultra-light-gray-color, $ultra-light-gray-color);
    box-sizing: border-box;
    padding: 40px 20px;
  }
}
