@import '~Styles/theme';


.wallet-component-container {
  width: 208px;
  padding: 16px;

  .header {
    display: flex;

    img {
      border-radius: 50%;
      width: 45px;
    }

    .content {

      .flex-content {
        display: flex;
        font-size: 14px;

        p {
          color: $mid-gray-color;
        }

        .bold-text {
          font-weight: 500;
          color: $black-color;
          margin-right: 8px;
        }
      }
    }
  }
}