@font-face {
    font-family: "icons";
    src: url("./icons.eot?a64210e23cf91ac7306346f11fccc3a2?#iefix") format("embedded-opentype"),
url("./icons.woff2?a64210e23cf91ac7306346f11fccc3a2") format("woff2"),
url("./icons.woff?a64210e23cf91ac7306346f11fccc3a2") format("woff"),
url("./icons.ttf?a64210e23cf91ac7306346f11fccc3a2") format("truetype"),
url("./icons.svg?a64210e23cf91ac7306346f11fccc3a2#icons") format("svg");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-card:before {
    content: "\f101";
}
.icon-close:before {
    content: "\f102";
}
.icon-home:before {
    content: "\f103";
}
.icon-map:before {
    content: "\f104";
}
.icon-news:before {
    content: "\f105";
}
.icon-search:before {
    content: "\f106";
}
.icon-vaccine:before {
    content: "\f107";
}
.icon-vaccines:before {
    content: "\f108";
}
