@font-face {
    font-family: "icons";
    src: url("./icons.eot?f1c5b176004b604e8b9bc9468745f6fb?#iefix") format("embedded-opentype"),
url("./icons.woff2?f1c5b176004b604e8b9bc9468745f6fb") format("woff2"),
url("./icons.woff?f1c5b176004b604e8b9bc9468745f6fb") format("woff"),
url("./icons.ttf?f1c5b176004b604e8b9bc9468745f6fb") format("truetype"),
url("./icons.svg?f1c5b176004b604e8b9bc9468745f6fb#icons") format("svg");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
    content: "\f101";
}
.icon-arrow-up:before {
    content: "\f102";
}
.icon-card:before {
    content: "\f103";
}
.icon-close:before {
    content: "\f104";
}
.icon-double-arrow-left:before {
    content: "\f105";
}
.icon-double-arrow-right:before {
    content: "\f106";
}
.icon-home:before {
    content: "\f107";
}
.icon-hospital:before {
    content: "\f108";
}
.icon-map:before {
    content: "\f109";
}
.icon-news:before {
    content: "\f10a";
}
.icon-search:before {
    content: "\f10b";
}
.icon-vaccine:before {
    content: "\f10c";
}
.icon-vaccines:before {
    content: "\f10d";
}
