@font-face {
    font-family: "icons";
    src: url("./icons.eot?8e2a16a2b8730003dc0947db1d3d550e?#iefix") format("embedded-opentype"),
url("./icons.woff2?8e2a16a2b8730003dc0947db1d3d550e") format("woff2"),
url("./icons.woff?8e2a16a2b8730003dc0947db1d3d550e") format("woff"),
url("./icons.ttf?8e2a16a2b8730003dc0947db1d3d550e") format("truetype"),
url("./icons.svg?8e2a16a2b8730003dc0947db1d3d550e#icons") format("svg");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
    content: "\f101";
}
.icon-arrow-up:before {
    content: "\f102";
}
.icon-card:before {
    content: "\f103";
}
.icon-close:before {
    content: "\f104";
}
.icon-double-arrow-left:before {
    content: "\f105";
}
.icon-double-arrow-right:before {
    content: "\f106";
}
.icon-edit:before {
    content: "\f107";
}
.icon-exit:before {
    content: "\f108";
}
.icon-home:before {
    content: "\f109";
}
.icon-hospital:before {
    content: "\f10a";
}
.icon-map:before {
    content: "\f10b";
}
.icon-news:before {
    content: "\f10c";
}
.icon-search:before {
    content: "\f10d";
}
.icon-sign-out:before {
    content: "\f10e";
}
.icon-vaccine:before {
    content: "\f10f";
}
.icon-vaccines:before {
    content: "\f110";
}
